span.alcode { width: 180px; height: 24px; display: inline-block; float: right; margin-top: 12px}
.i_ { background: url('pic/al/bgr.png') top left no-repeat; }
.i_apa { background: url('pic/al/wings.png') top left no-repeat; }
.i_apa { background: url('pic/al/trigana.png') top left no-repeat; }
.i_apa { background: url('pic/al/travira.png') top left no-repeat; }
.i_SI { background: url('pic/al/susi.png') top left no-repeat; }
.i_SJ { background: url('pic/al/sriwijaya.png') top left no-repeat; }
.i_MZ { background: url('pic/al/merpati.png') top left no-repeat; }
.i_JT { background: url('pic/al/lion.png') top left no-repeat; }
.i_GA { background: url('pic/al/garuda.png') top left no-repeat; }
.i_apa { background: url('pic/al/batik.png') top left no-repeat; }
.i_apa { background: url('pic/al/airfast.png') top left no-repeat; }
.i_apa { background: url('pic/al/airasia.png') top left no-repeat; }

