#template { display: none; }
html { cursor:none; height:100%; overflow:hidden; padding-bottom:.001px; }
@-webkit-keyframes blinker { from {opacity:1.0;} to {opacity:0.3;} }
        @keyframes blinker { from {opacity:1.0;} to {opacity:0.3;} }
ol > li > ul > li { display: inline-block; float: left; width: 18%; padding: 0 1%;  }
body { background: #000; color: #ccc; background: #000}
.unw { white-space: nowrap; }
#jam .clock { letter-spacing: -5px; font-family: 'share mono'; }

.dim { opacity: .75; }

#fids_a .via { font-weight: 300; font-style: normal; opacity: .7 }
#fids_d .via { font-weight: 300; font-style: normal; opacity: .7 }

#frame_header { padding: 0 1%; width: 98%; clear: both; color: #fff; }
#frame_header.arr { background: #009; border-bottom: 3px solid #006; }
#frame_header.dep { background: #060; border-bottom: 3px solid #030; }

#title { float: left; }

#jam { top: 0; padding-top: 24px; position: fixed;  left: 100%; margin-left: -232px; width: 220px; text-align: center;  height: 64px; }
#jam { font-size: 22px; line-height: 24px;  }
#jam .clock { font-size: 2em; }
#jam .date { font-size: .75em;  }

#title * { display:block; float: left; text-shadow: 2px 2px 4px #000000; filter: dropshadow(color=#000000, offx=1, offy=2); }

#title h1 { font-size: 2.5em; }
#title small { font-size: .9em; font-weight: 300; vertical-align: baseline; }

li b { display:block; font-weight: 700}
li i { display:block; }


#icon.d { background: url('/pic/dep-w.png') center center no-repeat; background-size: 100% 100%; }
#icon.a { background: url('/pic/arr-w.png') center center no-repeat; background-size: 100% 100%; }

li.head i { font-size: .75em; font-weight: 300; opacity: .75}
li.head b { font-weight: 400 }
li.line, li.head { display: block; clear: both;  border-bottom: 1px solid #666; padding-top: 1%; padding-bottom: 1%; }


li.line i { display: block; font-size: .8em; }
li.line { border-bottom: 1px solid #333; }
li.head,li.line { text-shadow: 1px 1px 2px #000000; filter: dropshadow(color=#000000, offx=1, offy=2); }

li.line li.time,
li.line li.gate,
li.line li.status { line-height: 2em;  }

span.ap {
display: block; width:180px; position:absolute; top:28px; left: 48%;
background:url('/pic/logo-ap-180.png') top right no-repeat; float; none; height:139px; z-index: 1
}

.st_0 .status { color: #666; opacity: .5 }
.st_3 .status { color: #0f0; }
.st_1 .status { color: #ff0; }
.st_10 .status, .st_1 .status {
        text-decoration:blink;
        -webkit-animation-name:blinker; animation-name:blinker;
        -webkit-animation-iteration-count:infinite;  animation-iteration-count:infinite;
        -webkit-animation-timing-function:cubic-bezier(1.0,0,0,1.0); animation-timing-function:cubic-bezier(1.0,0,0,1.0);
        -webkit-animation-duration:1s;  animation-duration:1s;
}





